 .table {
     background-color: #030303;
  width: 100%;          /* stretch full width */
  border-collapse: collapse;
  text-align: center;
  min-width: 900px; 
  height: 50px;
 }


 .container,
 .container-fluid {
     width: 100%;
     padding-left: 0;
     padding-right: 0;
     

 }

 .table-container {
     width: 90%;              /* keep some space on sides */
  margin: 0;       /* center table with margin */
  /* overflow-x: auto; */
  display: flex;
  justify-content: center;
 }

 .table-container table {
     width: 100%;
 }
 th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;  /* prevent text wrap */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}